/* COLOR DE TITULOS */
*Body*/
h2 {
  background-color: green;
  text-align center
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}

h1 { color: blue
    text-align center
      border 2px solid red;
      outline-width medium
      padding 8px} */
    /*h1{ color: blue;} color titulo principal
 {background-image: url("C:\Users\PC\Desktop\arg 4.0\inteligencia-artificial.png")
  background-position: , left top;
  background-repeat: repeat;
  padding: 30px;}*/

